html{
    background-color: grey;
}

.miclase:nth-child(1){
    font-size: 36px;
    background-color: #ff0000;
}

.miclase:nth-child(2){
    background-color: #2e00fb;
}
.miclase:nth-child(3){
    font-size: 36px;
    background-color: #ff0000;
}

.miclase:nth-child(4){
    font-size: 50px;
    background-color: #2e00fb;
}

.miclase:nth-child(odd){
    color:antiquewhite;

}

.miclase:nth-child(even){
    color:rgb(0, 255, 8);
}



section:not(.mitexto2){
    margin: 0px;
}

#titulo{
 /*
    font-family: Verdana, sans-serif;
    font-size: 26px;
    */

    /*formato en una sola linea de font*/
    font: bold 26px harrypoter,Verdana,sans-serif;
    color: black;
}

@font-face {
    font-family: "harrypoter";
    src: url("harrypotter.TTF");
}
header{
    font-size: 30px;
    margin: 30px;
    padding: 15px;
    text-align: center;
    background-color: green;
    background-image: url("ladrillos.avif");
    background-repeat:repeat-y;
    border-style: dashed;
    border-width: 5px;
    border-radius: 20px / 10px ;
    /*background-size: contain;*/
    /*background-origin: padding-box;*/
    /*background-clip: content-box;*/
}

#descripcion{
    text-align: center;
    /*word-spacing: 20px;*/
    width: 200px;
    height: 100px;
   /* overflow: scroll;*/
   overflow: auto;
}

a{
    text-decoration: none;
}